body{
	background:#b4ccc2;
}

h1{
	color: black;
	font-family: Sans-serif;
}

h2{
	color: black;
	font-family: Sans-serif;
}

form{
	border: 7px solid black;
	width: 310px;
	background: white;
	padding: 30px;
}
